extends ../base.pug

block vars
	- var pageTemplate = 'index'; // page var
	- var pageTitle = 'Главная'; // page title
	- var pageJs = 'js/func-tr.js'; // page js
block head


block content
	h1 Train Func prog
