extends ../base.pug

block vars
	- var pageTemplate = 'red-of'; // page var
	- var pageTitle = 'Главная'; // page title
	- var pageJs = 'js/red-of.js'; // page js
block head


block content
	h1 Red-of
	button#btn-click Click me
	input#input-me 
	br
	pre#info
